%table.table
  %thead
    %tr
      %th Champion
      %th Wins
      %th Losses
      %th Ratio
  %tbody
    - @data.each do |d|
      %tr
        %td= champion_icon d.champion
        %td= d.champion.name
        %td= d.wins
        %td= d.losses
        %td= number_to_percentage d.ratio * 100
