%h3 % of upsets with a team rank delta >= x

/ %table.table
/   %thead
/     %tr
/       %th Levels
/       %th # of Players
/   %tbody
/     - @data.each do |e|
/       %tr
/         %td= e.id
/         %td= e.count
/ %hr

#distribution
:coffeescript
  drawOrdinalBarchart('#distribution', #{ @chart.to_json })

%hr

%h3 number of matches with a team rank delta >= x

#totals
:coffeescript
  drawOrdinalBarchart('#totals', #{ @data.transform_values(&:count).to_json })

%hr

%h3 benefit conferred per delta (absolute)

#margin
:coffeescript
  drawOrdinalBarchart('#margin', #{ @chart2.to_json })

%hr

%h3 weighted benefit conferred per delta

#margin2
:coffeescript
  drawOrdinalBarchart('#margin2', #{ @chart3.to_json })




%table.table
  %tr
    %th n
    %td= @data.map(&:count).reduce(:+)


%pre~ @chart.inspect
